body {
  padding-left: 20px;
}

.drum-pads {
  background: #fff;
  border: 1px solid #000;
  float: left;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0;
  margin: 10px;
  border-radius: 5px;
  color: #000;
  text-align: center;
}

#drum-machine {
  width: 300px;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: auto auto auto;
}

.row {
  display: inline-block;
}

.row:after {
  clear: both;
  display: table;
}